textarea {
    resize:vertical;
}

td {
    vertical-align:middle!important;
}

.row {
    margin:5px 15px;
}

div.escudocabecera {
    background-color:#FFF;
    -webkit-box-shadow:2px 2px 25px 0 rgba(0,0,0,0.69);
    -moz-box-shadow:2px 2px 25px 0 rgba(0,0,0,0.69);
    box-shadow:2px 2px 25px 0 rgba(0,0,0,0.69);
    text-align:center;
    margin:15px;
}

.user-row {
    margin-bottom:14px;
}

.user-row:last-child {
    margin-bottom:0;
}

.dropdown-user {
    height:100%;
    margin:13px 0;
    padding:5px;
}

.dropdown-user:hover {
    cursor:pointer;
}

.table-user-information > tbody > tr {
    border-top:1px solid #ddd;
}

.toppad {
    margin-top:20px;
}

.multiselect-container {
    width:500px!important;
}

.toJSONTable * {
    border:1px #4F9834 solid;
}

table.toJSONTable  {
    border-collapse:collapse;
    text-align:left;
    width:100%;
}

table.toJSONTable  td,table.toJSONTable  th {
    padding:3px 10px;
}

table.toJSONTable  thead th {
    background:0;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4F9834',endColorstr='#85AF39');
    background-color:#4F9834;
    color:#FFF;
    font-size:15px;
    font-weight:700;
    border-left:1px solid #50992E;
}

table.toJSONTable  thead th:first-child {
    border:none;
}

table.toJSONTable  tbody td {
    color:#4F9834;
    border-left:1px solid #4F9834;
    font-size:12px;
    border-bottom:1px solid #4F9834;
    font-weight:400;
}

table.toJSONTable  tbody td:first-child {
    border-left:none;
}

table.toJSONTable  tbody tr:last-child td {
    border-bottom:none;
}

.table-user-information > tbody > tr:first-child,.table-user-information > tbody > tr > td {
    border-top:0;
}

.form-horizontal .form-group{
    margin-right:0;
    margin-left:0;
}
@media (min-width: 768px){
    .form-horizontal .control-label{
        text-align: left;
    }
}